.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 4px 4px;
    font-size: 12px;
    line-height: 1.7;
    border-radius: 30px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}